@media (max-width:750px) {
    .flex{
        grid-template-columns: 1fr;
    }
}
@media (min-width:751px) and (max-width: 999px)
{
    .flex{
        grid-template-columns: 1fr 1fr;
    }
}
@media(min-width:1000px){
    .flex{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
